/*navbar*/
.navbar-brand {
	font-family: viga;
	font-size: 32px;
}

.content h1, h5, h3 {
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;

}

.content span {
color: blue;


}


.content {
	padding-top: 100px;
	}

.content p {
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	font-weight: 550;
	color: #888888;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) ;
}

.tombol {
font-family: 'Poppins', sans-serif;
font-size: 13px;
margin-top: 8px !important;
margin-bottom: 8px !important;
border-radius: 6px;
}

#button {
	position: fixed;
	top: 465px;
	bottom: 20px;
    right: 5px;
	z-index: 1;
}

#button .fa-chevron-circle-up {
	color: #f26f77;
	font-size: 40px;
	left: 15%;


}

.home-right img {
	display: none;
	padding-top: 17%;
	padding-right: 10px;
}
.section-home {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff), to(#c4d3fc));
  background: linear-gradient(#ffff 0%, #c4d3fc 100%);
  min-height: 400px;

} 
.section-logo{ 
margin-top:  30px;
}

.btn-primary {
	opacity: 0;
    transform: translate(0, 100px) ;
    transition: 2s;
}

.btn-primary.muncul {
	   opacity: 1;
        transform: translate(0,0);
}

.pKiri{
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1s;
}

.pKiri.pMuncul {
	opacity: 1;
	transform: translate(0,0);
}

/* menghilangkan dan menampilkan logo */
.section-logo .logo {

	opacity: 0;
	transform: translate(0, 200px);
	transition: 0.9s;

}


.section-logo .logo.muncul {

	opacity: 1;
	transform: translate(0,0);

}

.wave {
	margin-top: -10px;
	overflow-X: hidden;
}


.services {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	margin-bottom: 50px;
	

}

.service {
	background-color: rgb(255, 255, 255);
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 10px 27px 0px rgba(154, 161, 171, 0.18);
	margin-right: 13px;
	transition: ease-in-out, 1s;

	

}





.icons img {
	width: 80px;
	margin-top: 10px;
}
.service h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	margin-top: 30px;
}


.row-logo {
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 0px auto;
	max-width: 50.625rem;
	
	
	

}

.logo {
	background-image: url(../img/diamond-shape.svg);
	background-size: cover;
	width: 120px;
	height: 120px;
	margin:auto;
	
}

.logo img {
	width: 80px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
	
}




.section-education{
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff), to(#ccdaff));
  background: linear-gradient(#ffff 0%, #ccdaff 100%);
  min-height: 500px;
}
	
.main-title h2 {
	text-transform: uppercase;
	font-family: viga;
	font-size: 25px;
	margin-top: 70px;
	margin-bottom: 70px;
}

.card-edu {
	box-sizing: border-box;
	background-color: #fdfdfd;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(129, 123, 123, 0.50);
	margin-top: 3px;
	

}

.card-header {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #100303;
	background-color: #fdfdfd;
	
}

.section-portpolio {
	background: linear-gradient(#ffff 0%, #ccdaff 100%);
    min-height: 880px;
 
}
 
.card-body h4 {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: black;
	font-weight: 700;
}

.card-body p {
	font-size: 13px;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	

}
.section-footer {
	background-color: #1E3771;
	min-height: 270px;
	padding-top: 40px;
}

.title h5 {
	font-size: 18px;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	
}


.section-portpolio h2 {
	text-transform: uppercase;
	font-family: viga;
	font-size: 25px;
}
.title .nama li, .link  {
	font-size: 14px;
	color: #c3c3c3;
	font-family: 'Poppins', sans-serif;

}
.footer-text {
	font-size: 12px;
	color: #c3c3c3;
	font-family: 'Poppins', sans-serif;

}

 .sosial-media i, .wa {
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	color: #c3c3c3;

}

.about-me {
	margin: auto;
	width: 250px;
	box-sizing: border-box;
	
}

.about-me img {
	margin:auto 1px;
	width: 200px;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(129, 123, 123, 0.993);
	
}


.title h2 {
	text-transform: uppercase;
	font-family: viga;
	font-size: 20px;
	margin-top: 60px;
	
}

.about-profil p {
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #888888;
	line-height: 25.8px;
	text-align: left
}



 
/*Desktop version*/
 @media (min-width: 992px) { 

.nav-link {
	text-transform: uppercase;
	margin-right: 30px;
	font-weight: 500;
}

.nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid #0B63DC;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;

}

.content {
	padding-top: 100px;
}

.home-right img {
	width: 400px;
	margin-top: -37px;
	display: block;

}
.content h1, h5, h3 {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
.content p {
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #888888;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) ;
}

.section-home {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff), to(#c4d3fc));
  background: linear-gradient(#ffff 0%, #c4d3fc 100%);
  min-height: 500px;

} 
.main-title h2 {
	text-transform: uppercase;
	font-family: viga;
	margin-top: 50px;
	
}

	.card-edu {
		box-sizing: border-box;
		background-color: #fdfdfd;
		border-radius: 5px;
		box-shadow: 5px 5px 5px rgba(129, 123, 123, 0.50);
		margin-top: 30px;
		
	
	}

	.card-header {
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		font-size: 15px;
		color: #100303;
		background-color: #fdfdfd;
		
	}




	.section-portpolio {
		background: linear-gradient(#ffff 0%, #ccdaff 100%);
		min-height: 550px;
	
	}
	.title h5 {
		font-size: 23px;
		color: #ffffff;
		font-family: 'Poppins', sans-serif;
	
	}

	.service:hover{
		transform: scale(1.1);
		
	
	} 

	.about-me img {
	margin:auto 1px;
	width: 280px;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(129, 123, 123, 0.993);
	
}

	.title h2 {
		text-transform: uppercase;
		font-family: viga;
		font-size: 20px;
		margin-bottom: 30px;
		
	}

	.about-profil {
		margin-top: -15px;
	}

	.about-profil p {
		font-size: 15px;
		font-family: 'Poppins', sans-serif;
		font-weight: normal;
		color: #888888;
		line-height: 25.8px;
		text-align: center;
	}
}

